.cake-card {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #f6f6f5;
}

.cake-image {
    width: 150px;
    max-height: 300px;
}

.cake-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.cake-name a {
    color: royalblue;
    text-decoration: none;
}
